body{
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
    background-image: url(aesthetic-planet-ocean-background-galaxy-nature-remix.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#form{
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #1e293b;
    color: #f8fafc;
    padding: 30px;
    width: 300px;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15)
}
#form:hover {
    box-shadow: 0px 15px 35px rgb(14, 164, 233);
}

h1{
    color: #38bdf8;
}
h1:hover{
    color: #bae6fd;
}
label{
    color:#94a3b8;
}
label:hover{
    color: #e2e8f0;
}

#main{
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    top: 100px;
    align-items: center;
    justify-content: center;
}
#sub{
    position: relative;
    border-radius: 15px;
    top: 10px;
    padding: 5px;
}
#name{
    position: relative;
    left: 20px;
    border-radius: 15px;
    padding: 2px;
}
#salary{
    position: relative;
    left: 7px;
    border-radius: 15px;
    padding: 2px;
}
#department{
    position: relative;
    left: 7px;
    border-radius: 15px;
    padding: 2px;
}
#edlt{
    position: relative;
    bottom: 65px ;
    right: 65px;
}
#dtls{
    position: relative;
    bottom: 129px ;
    left: 180px;
}
#aj{
    position: relative;
    bottom: 195px ;
    left: 50px;
}
button{
    color: #ffffff;
    background-color: #0ea5e9;
    border-radius: 20px;
    padding: 5px;
}    
button:hover{
    color: #ffffff;
    background-color:#0284c7 ;
    text-decoration: underline;
    animation-name: btn;
    animation-duration: 1s;
    transition: ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2)
}
@keyframes btn{
    to{transform: scale(1.05);}
    
}
#output{
    color: white;
    width: 400px;
    padding: 20px 10px 20px 10px;
    box-shadow: 2px 4px 10px cyan,-2px -4px 10px darkblue;
    border-radius:20px ;

}
#output:hover{
    box-shadow: 2px 4px 10px darkblue,-2px -4px 10px cyan;
    animation-name:zoo;
    animation-duration: 1s;
}
@keyframes zoo{
    to{transform: scale(1.10);}
}